.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    'presentation-area'
    'icon-area';
  align-items: center;
}
.presentation-area {
  grid-area: presentation-area;
  background-color: white;
  text-align: center;
}
.icon-area {
  grid-area: icon-area;
  background-color: #3e1f3cc9;
  font-size: 8vh;
  text-align: center;
}

.presentation-content {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  padding-right: 3%;
  padding-left: 3%;
}

.primary-typo {
  font-size: 4vw;
  width: 100%;
}
.red {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.header-skill {
  color: #131341;
}
